%br
%h1 Branches
%br
= render :partial => 'advanced_search'
%br
%br
%table.fu-table.table-bordered.table-striped.table-hover{:style => 'width:100%; border:1px'}
  .thead
    %tr
      %th{:style=>'text-align:left; font-size:12px; background-color: lightblue;'}
        Branch
      %th{:style=>'text-align:left; font-size:12px; background-color: lightblue;'}
        Cluster
  .tbody
    - @records.each do |record|
      %tr
        %td{:style=>'text-align:left;'}
          = record.name
        %td{:style=>'text-align:left;'}
          = record.cluster.name