.ui-timepicker-div{
  background:#dddddd;
  width: 160px;
}
.ui-timepicker-div .ui-widget-header {
    background: url("datepicker-header-bg.png") no-repeat 0px 0px;
    height: 8px;
    padding: 16px 17px;
    position: relative;
    z-index: 2000;
  }
.ui-datepicker-title{
  margin: 0 2.8em;
  line-height: 0.8em;
  text-align: center;}
.ui-datepicker-buttonpane.ui-widget-content {
  background:#dddddd;
  width: 160px;
  position: relative;
  top: -20px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.ui-timepicker-div dl { text-align: left; border-left: 2px solid black;}
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; color:black; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; color:black;}
.ui-timepicker-div td { font-size: 90%; color:black; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }